{{ define "main" }}

  <div class="content-block">
    <div class="content-block-title">
      <h1 style="margin-bottom: 0em;">{{ .Title }}</h1>
    </div>
  </div>

  {{ range .Pages.ByDate.Reverse }}

    {{ partial "content-block.html" . }}

  {{end}}

{{ end }}
