{{ $currentPage := .Page.Permalink}}
{{ $album := .Get "album" }}
{{ $albumURL := print $currentPage $album }}
{{ $images := (.Page.Resources.ByType "image" ) }}
{{ $images2 := (.Page.Resources.Match (print $album "/*")) }}
{{ $images3 := (.Page.Resources.ByType "image").Match $album }}

{{ $caption := .Get "caption" }}
{{ $alt := .Get "alt" }}

$albumURL: <br>
{{print $albumURL}}
<br><br>
$images: <br>
{{ range $images }}
  {{ .RelPermalink }}
{{ end }}
<br><br>
$images2: <br>
{{ range $images2 }}
  {{ .RelPermalink }}
{{ end }}
<br><br>

<h2>$images2</h2>
<div class="album">
  {{ range $images2 }}
    <img src="{{ .RelPermalink }}">
  {{ end }}
</div>


<br>
<h2>$images3</h2>
<div class="album">
  {{ range $images3 }}
    <img src="{{ .RelPermalink }}">
  {{ end }}
</div>

